# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual envs
.env/
.venv/
venv/

# Streamlit & cache
.streamlit/
.cache/

# IDEs
.vscode/
.idea/

# Logs & data
*.log
pgdata/
*.sqlite
*.db

# Secrets (VERY IMPORTANT)
.env
monitor_session.session
newquark_session.session
session.session

# OS junk
.DS_Store
Thumbs.db